### importer les bibliothe

In [2]:
from pyspark.sql import SparkSession
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt
from pyspark.sql.types import IntegerType, DoubleType, StringType

### Afficher le dataframe

In [3]:
#creer un session de spark
spark = SparkSession.builder.appName("Planéte").getOrCreate()

In [4]:
# Lecture du fichier CSV depuis HDFS
df_planets = spark.read.option("header", True).csv("hdfs://namenode:9000/user/hive/planets/planets_dataset.csv")

In [5]:
df_planets.show(5)

+------------+---------+--------+------------------+------------------+------------------+-----------------+--------------+-----------+
|        Name|Num_Moons|Minerals|           Gravity|    Sunlight_Hours|       Temperature|    Rotation_Time|Water_Presence|Colonisable|
+------------+---------+--------+------------------+------------------+------------------+-----------------+--------------+-----------+
|Planet_18329|        5|      59| 1.981602859469247|5.8168191458771705|28.381006239674264|56.76091939405808|             0|          0|
|Planet_28900|        8|     672|1.3881504830806715|14.715293728903166| 27.48564614824687| 51.0340563211323|             0|          0|
|Planet_56161|        3|     764|2.5308267251520093|22.902523479273974| 63.39082702246432|42.99324764351807|             1|          0|
|Planet_24869|        4|     881| 0.272197404132533|1.1764842767184982| 36.99844187739444|29.49224607367769|             1|          0|
|Planet_70594|        7|    1003|1.7310599130799436| 21.48032382478311|23.266169650283757|20.65595846047114|             0|          0|
+------------+---------+--------+------------------+------------------+------------------+-----------------+--------------+-----------+
only showing top 5 rows

In [21]:
# Renommer les colonnes en français
df_planets = df_planets.withColumnRenamed("Name", "Nom") \
               .withColumnRenamed("Num_Moons", "Nombre_de_Lunes") \
               .withColumnRenamed("Minerals", "Mineraux") \
               .withColumnRenamed("Gravity", "Gravite") \
               .withColumnRenamed("Sunlight_Hours", "Heures_d_Ensoleillement") \
               .withColumnRenamed("Temperature", "Temperature") \
               .withColumnRenamed("Rotation_Time", "Temps_de_Rotation") \
               .withColumnRenamed("Water_Presence", "Presence_d_Eau") \
               .withColumnRenamed("Colonisable", "Colonisable")

# Affichage du DataFrame avec les noms de colonnes en français
df_planets.show(5)

+------------+---------------+--------+------------------+-----------------------+------------------+-----------------+--------------+-----------+
|         Nom|Nombre_de_Lunes|Mineraux|           Gravite|Heures_d_Ensoleillement|       Temperature|Temps_de_Rotation|Presence_d_Eau|Colonisable|
+------------+---------------+--------+------------------+-----------------------+------------------+-----------------+--------------+-----------+
|Planet_18329|              5|      59| 1.981602859469247|     5.8168191458771705|28.381006239674264|56.76091939405808|             0|          0|
|Planet_28900|              8|     672|1.3881504830806715|     14.715293728903166| 27.48564614824687| 51.0340563211323|             0|          0|
|Planet_56161|              3|     764|2.5308267251520093|     22.902523479273974| 63.39082702246432|42.99324764351807|             1|          0|
|Planet_24869|              4|     881| 0.272197404132533|     1.1764842767184982| 36.99844187739444|29.49224607367769|             1|          0|
|Planet_70594|              7|    1003|1.7310599130799436|      21.48032382478311|23.266169650283757|20.65595846047114|             0|          0|
+------------+---------------+--------+------------------+-----------------------+------------------+-----------------+--------------+-----------+
only showing top 5 rows

### Analyser le dataframe

In [22]:
# Vérifier les types après la conversion
df_planets.printSchema()

root
 |-- Nom: string (nullable = true)
 |-- Nombre_de_Lunes: string (nullable = true)
 |-- Mineraux: string (nullable = true)
 |-- Gravite: string (nullable = true)
 |-- Heures_d_Ensoleillement: string (nullable = true)
 |-- Temperature: string (nullable = true)
 |-- Temps_de_Rotation: string (nullable = true)
 |-- Presence_d_Eau: string (nullable = true)
 |-- Colonisable: string (nullable = true)

In [25]:
# Conversion des types de données après renommage
df_planets = df_planets \
    .withColumn("Nombre_de_Lunes", df_planets["Nombre_de_Lunes"].cast(IntegerType())) \
    .withColumn("Mineraux", df_planets["Mineraux"].cast(IntegerType())) \
    .withColumn("Gravite", df_planets["Gravite"].cast(DoubleType())) \
    .withColumn("Heures_d_Ensoleillement", df_planets["Heures_d_Ensoleillement"].cast(DoubleType())) \
    .withColumn("Temperature", df_planets["Temperature"].cast(DoubleType())) \
    .withColumn("Temps_de_Rotation", df_planets["Temps_de_Rotation"].cast(DoubleType())) \
    .withColumn("Presence_d_Eau", df_planets["Presence_d_Eau"].cast(IntegerType())) \
    .withColumn("Colonisable", df_planets["Colonisable"].cast(IntegerType()))

# Affichage du DataFrame avec les types de données convertis
df_planets.show(5)

+------------+---------------+--------+------------------+-----------------------+------------------+-----------------+--------------+-----------+
|         Nom|Nombre_de_Lunes|Mineraux|           Gravite|Heures_d_Ensoleillement|       Temperature|Temps_de_Rotation|Presence_d_Eau|Colonisable|
+------------+---------------+--------+------------------+-----------------------+------------------+-----------------+--------------+-----------+
|Planet_18329|              5|      59| 1.981602859469247|     5.8168191458771705|28.381006239674264|56.76091939405808|             0|          0|
|Planet_28900|              8|     672|1.3881504830806715|     14.715293728903166| 27.48564614824687| 51.0340563211323|             0|          0|
|Planet_56161|              3|     764|2.5308267251520093|     22.902523479273974| 63.39082702246432|42.99324764351807|             1|          0|
|Planet_24869|              4|     881| 0.272197404132533|     1.1764842767184982| 36.99844187739444|29.49224607367769|             1|          0|
|Planet_70594|              7|    1003|1.7310599130799436|      21.48032382478311|23.266169650283757|20.65595846047114|             0|          0|
+------------+---------------+--------+------------------+-----------------------+------------------+-----------------+--------------+-----------+
only showing top 5 rows

In [28]:
df_planets.isnull().sum()

AttributeError: 'DataFrame' object has no attribute 'isbull'